<div class="container">
    <h1 class="text-center">Eat Da Burger</h1>
    <div class="d-flex justify-content-center">
        <img src="/assets/img/burger.png" height="290" width="250" />
    </div>

    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class=".col-6">
                <!--burgers added to the waitlist-->
                <h2>Burgers on the Main Menu</h2>
                <ul class="burger-list">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class=".col-6">
                <h2>Burgers devoured!</h2>
                <ul class="devoured-list">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                    <button class="trash-can" data-id="{{this.id}}">Delete!</button>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <form class="form-create d-flex justify-content-center">
        <div class="form-row justify-content-center">
            <label>Add a burger to the menu</label>
            <input type="text" class="form-control" id="request" placeholder="Enter a burger on the menu">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
</div>