<li class="d-flex justify-content-between">
    {{burger_name}}
    {{#unless devoured}}
    <button class="change-status btn btn-danger" type="button" data-id="{{id}}" data-eatenburger="{{devoured}}">Devour!</button>
    {{/unless}}
</li>
